.mainWrap {
  margin-top: 60px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: center;
  row-gap: 30px;
  column-gap: 30px;
}

.productWrap {
  position: relative;
  width: 350px;
  height: 400px;
  text-align: center;
}

.productImg {
  width: 350px;
  height: 400px;
}

.productPrice {
  display: none;
  position: absolute;
  top: 175px;
  left: 20px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.productName {
  display: none;
  position: absolute;
  top: 140px;
  left: 20px;
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  z-index: 1;
}

.productWrap:hover {
  .productImg {
    opacity: 0.5;
  }
  .productName {
    display: block;
  }
  .productPrice {
    display: block;
  }
}

@media screen and (max-width: 475px){
  .mainWrap {
    row-gap: 0px;
  }
  .productWrap {
    width: auto;
  }
  
    .productImg {
      width: 300px;
      height: 350px;
    }
  .productPrice {
    display: block;
    text-shadow: 1px 1px #fff;
  }
  .productName {
    display: block;
    text-shadow: 1px 1px #fff;
  }
}