.pageTitle {
  font-size: 35px;
  margin-left: 5px;
}
.previewWrap {
  position: fixed;
  top: 0;
  right: 0px; /* Off-screen initially */
  width: 300px;
  height: 100%;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 10;
  animation: show-the-cart 0.3s ease;
}
.pageClose{
  position: absolute;
  top: 0px;
  right: 5px;
  font-size: 20px;
  cursor: pointer;
}
.previewWrap.open {
    right: 0;
  }

.itemsList {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 33px;
  column-gap: 30px;
  text-transform: uppercase;
}
.itemNameWrap {
  display: flex;
  flex-direction: row;
  vertical-align: baseline;
}
.itemName {
  
  font-weight: bold;
}
.itemPicture {
  width: 42px;
  height: 42px;
  border-radius: 100%;
  margin-left: 5px;
}
.subtotalWrap {
  position: relative;
  top: 33px;
  padding-bottom: 133px;
  border-top: 1px solid lightgray;
}
.totalCheckWrap {
  display: flex;
  justify-content: space-between;
  flex-direction:row;
  margin-top: 33px;
  margin-left: 5px;
  padding: 10px;
  width: 100%;
  
}
.emptyCart{
  margin-top: 20px;
  font-size:20px;
  text-align: center;
  
}
.buttonWrap{
  padding:  0 5px 0 5px;
  width: 300px;
}
.button {
  position: absolute;
  bottom: 20px; 
  width: 290px;
  height: 50px;
  color: black;
  border: 2px solid black;
  background-color: white;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  
}
.button:hover {
  transition: 0.5s;
  color: white;
  background-color: black;
}
.mobileViewWrap {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.btnText{
  display: block;
  margin-top:-1px;
  font-size: 14px;
}
@keyframes show-the-cart{
  0%{
    transform: translateX(300px);
    opacity: 0;
  }
  100%{
    transform: translateX(0px);
    opacity: 1;
  }
}
/* @media screen and (max-width: 475px) {
  .pageTitle {
    padding-left: 15px;
  }
  .itemsList {
    position: relative;
    flex-wrap: wrap;

    align-items: baseline;

    width: auto;
    height: auto;
  }
  .itemNameWrap {
    flex-direction: row-reverse;
    justify-content: space-around;
    width: 100%;
  }
  .itemName {
    margin-right: 21%;
  }
  .itemPicture {
    width: 155px;
    height: 155px;
  }

  
  .subtotalWrap {
    margin-right: 15px;
  }
} */
