.mainNav {
  text-align: center;
}
.headList {
  display: flex;
  justify-content: center;
  column-gap: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.logoImg {
  width: 170px;
  height: 80px;
}
.cartWrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 33px;
  align-items: center;
}
@media screen and (max-width: 475px){
  .cartWrap {
    position: fixed;
    top: 1px;
    justify-content: space-around;
    left: 1px;
  }
  /* .logoImg {
    position: fixed;
    top: 20px;
    left: 10px;
  } */
}