.orderSummaryWrap{
margin-top: 133px;
}
.orderSummaryWrap h4{
    font-size: 25px;
}

.orderSummary{

}

.orderSummaryItem{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 33px;
}