.headerTitle{
    font-size: 25px;
}
.fromWraper{
    margin-top: 73px;
    margin-bottom: 100px;
}
.formItslef{
    display: flex;
    flex-direction: column;
    margin-top: 33px;
    width: 333px;
}

label{
    font-size: 16px;
    color: #777777;
    margin-top: 20px;
}
input{
    border: 1px solid #777777;
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 12px;
    height: 40px;
    padding-left: 10px;
}
.messageInput{
    height: 133px;
}
.deliveryWrap{
    margin-top: 73px;
}
.deliveryTitle{
    font-size: 25px;
}
.warhouseWrap{
    display: flex;
    flex-direction: column;
    margin-top: 23px;
}
.warhouses{
    width: 250px;
    display: none;
}
.warhousesList{
    width: 250px;
}
.buttonSend{
    width: 150px;
    height: 50px;
    color: black;
    border: 2px solid black;
    background-color: white;
    font-size: 15px;
}

.buttonSend:hover{
    transition: 0.5s;
    color: white;
    background-color: black;
}
#warhouseSelect{
    display: none;
}