@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ereg';
  src:url('/src/assets/fonts/e-Ukraine-Regular.otf'), format(otf);
}
@font-face {
  font-family: 'eregB';
  src: url('/src/assets/fonts/e-Ukraine-Bold.otf'), format(otf);
}

:root {
  font-family: "ereg",'eregB', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 1px;
  
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
*{
  font-family: "eregB";
}

.paddingValue {
  padding: 150px 200px 0 200px;
  background-color: #fff;
}
.paddingValueChildren{
  padding: 0px 200px 0 200px;
  background-color: #fff;
}

#indigo {
  
  width: 400px;
}
#startingpage {
  opacity: 100;
  transition: opacity 10s;
}
.logoWrapper {
  margin: auto;
  height: auto;
}
.Imageitself {
  cursor: url('./cursor.png');
  margin: auto;
}

.Imageitself2 {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 140px;
  left: 40px;
}

@media screen and (max-width: 475px) {
  .paddingValue {
    padding: 150px 0px;
  }
  .paddingValueChildren{
    padding: 0px;
  }
}
