@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Merriweather, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #fcfcff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body {
  font-family: Merriweather;
}

.paddingValue {
  padding: 150px 200px 0 200px;
}

#indigo {
  background-color: #fcfcff;
  width: 400px;
}
#startingpage {
  opacity: 100;
  transition: opacity 10s;
}
.logoWrapper {
  margin: auto;
  height: auto;
}
.Imageitself {
  cursor: url('./cursor.png');
  margin: auto;
}

.Imageitself2 {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 140px;
  left: 40px;
}

@media screen and (max-width: 475px) {
  .paddingValue {
    padding: 150px 0px;
  }
}
