.button{
    width: 150px;
    height: 50px;
    color: black;
    border: 2px solid black;
    background-color: white;
    font-size: 12px;
}
.button:hover{
    transition: 0.5s;
    color: white;
    background-color: black;
}